<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
    <div class="container">

        <h1>캐릭터생성</h1>
        
        <form action="#">   
            닉네임 :
            <br>
            <input name="nickname", type="text", value="">
            <br>
            프로필사진 :
            <br>
            <input name="profile", type="profile", value="">
            <br>
            <input class="btn btn-primary", type="submit", value="Sign up!">
            <br>
        </form>
        </div>
        
</body>
</html>